@{
    ViewData["Title"] = "Home Page";
}
<body class="mainpage">
    <div>
        <h1 class="main_page_header">PackLite </h1>
        <br />
        <p class="main_page_catch">Every Adventure a Success</p>
    </div>
</body>
